/* common styles */

.navbar-brand {
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 30px;
}
        
.navbar {
    margin-bottom: 0.3em;
    background-color: #FFD5B7;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:hover,
.panel > .coloredHeader, .modal-content > .coloredHeader {
    background-color: #BDEEE7;
}

.coloredHeader .btn,
.coloredHeader .form-control
{
    background-color: #97e6da;
}

.coloredHeader .btn:hover,
.coloredHeader .btn:focus,
.coloredHeader .btn.active {
    background-color: #8fd9ce;
}
