//* common styles */

.panel-default > .scrollable {
    height: 50em;
    overflow-y: scroll;
}

.navbar-brand {
    font-family: "Vast Shadow", cursive;
    font-size: 28px;
}
        
.navbar {
    margin-bottom: 0.3em;
    background-color: #FFD5B7;
}

.panel-default > .coloredHeader, .modal-content > .coloredHeader {
    background-color: #BDEEE7;
}

