//* document styles */
html, body {
	height: 100%;
	width: 100%;
}

.hidden {
	display:none;

}
.errMsg {
	color: rgb(255, 0, 0);

}

header {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
}

header > h2 {
	flex: 1;
	-webkit-flex: 1;
	text-align: center;
}

header > div > span {
	margin-right: 20px;

}

/* styles for a collapsible navigation list*/ 
#subsList {
	list-style-type:none;
	padding:0;
}
#subsList li > ul {
	list-style-type: none;
	padding: 0 2%;
}
#subsList li > span:first-child {
	background: url("../resources/icons.png") no-repeat 0px -10px;
	display:inline-block;
	width: 11px;
	height: 10px;
}

#subsList li.collapsed > span:first-child {
	background: url("../resources/icons.png") no-repeat -31px -9px;
	display:inline-block;
	width: 7px;
	height: 12px;
	
}

#subsList li.collapsed > ul { 
	display:none;
}

#subsList .unread {
	font-weight: bold;
}


#content {
	display: flex;
	display: -webkit-flex; 
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;

}

#content > nav {
	width: 200px;
	order: 1;
	-webkit-order: 1;
	height: 35em;
	overflow-y: auto;
}


#content > div {
	order:2;
	-webkit-order:2;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
	flex: 1;
	-webkit-flex: 1;
}
#entryList {
	min-width: 12em;
	flex: 1;
	-webkit-flex: 1;
	overflow-y: scroll;
	height: 35em;
}

#entryList section {
	border-color: rgb(200, 200, 200);
	border-left-color: rgb(100, 100, 100);
	border-width: 1px;
	border-style: solid;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 20px;
	display: flex;
	display: -webkit-flex;	
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
}

#entryList section a:link {
	color: rgb(0, 0, 0);

}
#entryList section > div:first-child {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
}

#entryList section > div:first-child > div:first-child {
	flex: 1;
	-webkit-flex: 1;

}

#entryList section .author {
	font-size: smaller;	
	margin: 2px;	
}


#entryList section .title {
	font-size: large;
}

#entryList section .toolbar {
	border-top-color: rgb(200, 200, 200);
	border-top-width: 1px;
	border-top-style: solid;	
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: -20px;
	padding: 5px;
}

#entryList section .toolbar > span:first-of-type {
	background: url("../resources/icons.png") no-repeat -52px 0px;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 5px;

}

#entryList section .toolbar > span.starred {
	background: url("../resources/icons.png") no-repeat -78px 0px;

}

#entryList section.highlighted {
	border-left-color: rgb(0, 0, 255);


}
#entryList section.updated {
	background-color: rgb(245, 245, 245);
}

#entryList section.highlighted a:link {
	color: rgb(0, 0, 255);

}

#entryList section:last-of-type {
	height: 35em;
	text-align: center;
}

#entryList section.hidden {
	display:none;

}	
