/* Import common styles */
@import url("common.css");

#subsListPanelContainer {
   padding-right: 0;
}

#itemPanelContainer {
   padding-left: 0;
}

.list-group {
   margin: 0;
}


.list-group-item {
   cursor: pointer;
   padding: 0.5em;
}

.list-group-item.highlighted > .content{
    font-weight: bold;
}

#subsListPanel > .panel-body {
   padding: 0;
}

#subsListPanel > .panel-body, #itemPanel > .panel-body {
   height: 50em;
   overflow-y: scroll;
}

.folder {
   padding-right: 0;
}

#more, #last {
    height: 40em;
}

#entryList > .highlighted {
  border-left-color: blue;
}

#entryList > .highlighted .title {
  font-weight: bold;
}
#entryList > .updated {
  background-color: rgb(245, 245, 245);
}
