@import url("common.css");

#content {
	margin-left: 10px;
}


h3 {
	display:inline;

}
nav ul {
	list-style-type: none;
	padding: 0;

}

nav li {
	display: inline;
	margin-right: 5px;
	padding: 5px;
	background-color: rgb(200, 200, 200);
	font-weight: bold;
	cursor: pointer;

}

nav li.active {
	color: rgb(0, 0, 255);
	background-color: rgb(255, 255, 255);
	border-top: 2px solid rgb(0, 0, 255);
}

img.delete {
	width: 20px;
	height: 20px;
	cursor: pointer;
	vertical-align: middle;

}

#folderList, #feedList {
	height: 35em;
	margin-top: 1em;
	overflow-y: auto;

}
#folderList > div, #feedList > div {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
}


#folderList > div > *, #feedList > div > * {
	margin-right: 1em;
	margin-bottom: 0.5em;
}

#folderList > div .folderName {
	width: 20em;
	overflow-x: auto;
}

#feedList > div .feedName {
	width: 30em;
	overflow-x: auto;

}

div.aggrMenu > form {
	display: inline;

}

iframe[name='errMsg'] {
/*	width: 30em;
	height: 1.5em;*/
}
