@import url("common.css");

.feed, .folder {
  margin-bottom: 0.5em;
}

.longText {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#feedList, #folderList {
  height: 40em;
  overflow-y: scroll;
}

iframe[name='errMsg'] {
  width: 100%;
  height: 20em;
}

